

.tab-content{
    display: flex;
    margin-bottom: 16px;

}
.tab-content div{
    line-height: 20px;
}
.tag{
    padding: 4px 15px;
    color: #F7F7F5;
    text-align: center;
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    background-color: #111;
    margin-right: 13px;

}

.tagEVENT{
    background-color: #FF5414;
}
.tab-title{
    padding-top: 4px;
    padding-bottom: 4px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-family: Pretendard-Medium;

}

.comment-count{
    padding-top: 3px;

    color: #F0380F;
    font-family: Pretendard;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    justify-content: center;
    margin-left: 6px;
}
.content-list-wrapper{
    width: 100%;
}
